body { 
  padding: 45px 0 0 0;
}

.jumbotron {
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.brand-logo {
  margin-top: 15px;
}

.ng-map {
  height: 450px
}

.brand-selected-item {
  color: #F8F5F0!important;
  font-weight: bold;
}

.img-responsive {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .brand-logo {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 992px) {
  .btn-responsive {
    padding: 5px 10px;
    font-size: 95%;
    line-height: 1.5;
  }
}

td {
  font-size: 90%; 
}

label {
  margin-top: 10px;
}

hr {
  line-height: 1px;
}

dt {
  font-size: 122%;
}

dd {
  font-size: 122%;
}

.strong-dd {
  font-weight: bold;
  font-size: 155%;
}

.cell{
  display: table-cell; 
  width:26%;
  color: #3E3F3A
}

@media (max-width: 768px) {
  .cell {
    font-size: 90%;
  }
}

.cell-header {
  display: table-cell; 
  width:25%;
  font-weight: bold;
  font-size: 110%;
  color: black;
}

@media (max-width: 768px) {
  .cell-header {
    font-size: 90%;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}