<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="page-header">
			<h3>Cadastro de Clientes</h3>
		</div>
		<form name="formCadastro" class="form-group">
			<div class="row" ng-class="{'has-error': formCadastro.nome.$invalid && formCadastro.nome.$dirty}">
				<div class="col-sm-6">
					<label for="nome">Nome</label>
					<input class="form-control" type="text" ng-required="true" ng-minlength="3"
					ng-model="cliente.nome" name="nome"></input>
					<span class="help-block" ng-show="formCadastro.nome.$invalid && formCadastro.nome.$dirty">
						Nome inválido!
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<button class="btn btn-primary" ng-disabled="formCadastro.$invalid" ng-click="salvarCliente(cliente)">Salvar</button>
					<button class="btn btn-danger" ng-disabled="!cliente.id" ng-click="removerCliente(cliente)">Excluir</button>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-sm-9">
				<table class="table table-striped" ng-show="clientes.length > 0">
					<tr>
						<th>Código</th>
						<th>Nome</th>
					</tr>
					<tr ng-repeat="cliente in clientes">
						<td>{{cliente.id}}</td>
						<td><a href="" ng-click="editar(cliente)">{{cliente.nome}}</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
