<div class="container">
  <div class="page-header">
    <h2 class="text-center">Bem-vindo ao WineShop!
      <br><small>sistema de pedidos</small>
    </h2>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption text-center">
          <h3>Cadastro de vinhos</h3>
          <p>
            Aqui você pode cadastrar os vinhos vendidos em seu estabelecimento
          </p>
          <a class="btn btn-primary btn-block btn-responsive"
            ui-sref="main.vinho">CADASTRAR VINHO</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption text-center">
          <h3>Faça seus pedidos</h3>
          <p>
            Utilize os vinhos que você cadastrou e armazene pedidos de seus clientes!
          </p>
          <a class="btn btn-primary btn-block btn-responsive" ui-sref="main.pedido">FAZER PEDIDO</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption text-center">
          <h3>Impulsione suas vendas!</h3>
            <p>
            Mantenha a sua conta ativa e seus produtos atualizados, trazendo cada vez mais clientes
            para o seu estabelecimento. E o melhor, tudo isso de graça!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
