<div class="container">
  <div class="page-header">
    <h2 class="text-center">
      <img class="img-responsive" src="img/wine-logo.png">
      <br><small>sistema de pedidos</small>
    </h2>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption text-center">
          <h3>Cadastre seus vinhos</h3>
          <p>
            Aqui você pode cadastrar os vinhos vendidos em seu estabelecimento.
          </p>
          <a class="btn btn-default btn-block btn-responsive"
            ui-sref="main.vinho">CADASTRAR VINHO</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption text-center">
          <h3>Cadastre seus clientes</h3>
          <p>
            Mantenha o catálogo de seus clientes atualizado e integrado.
          </p>
          <a class="btn btn-default btn-block btn-responsive"
            ui-sref="main.cliente">CADASTRAR CLIENTE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption text-center">
          <h3>Faça seus pedidos</h3>
          <p>
            Utilize os vinhos que você cadastrou e armazene pedidos de seus clientes.
          </p>
          <a class="btn btn-default btn-block btn-responsive" ui-sref="main.novoPedido">FAZER PEDIDO</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="thumbnail">
        <div class="caption text-center">
          <h3>Controle em suas mãos</h3>
            <p>
            Todo o controle de seu estabelecimento em suas mãos!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
