<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="page-header">
				<h3>Cadastro de Vinhos</h3>
			</div>
			<form name="formCadastro" class="form-group" novalidate>
				<div class="row">
					<div class="col-md-9">
						<label for="descricao">Descrição</label>
						<input class="form-control" type="text" name="descricao" ng-model="vinho.descricao"
						ng-required="true" ng-minlength="5" id="descricao"></input>
						<span class="help-block" ng-show="formCadastro.descricao.$invalid && formCadastro.descricao.$dirty">
								Descrição inválida!
						</span>
					</div>
					<div class="col-md-3">
						<label for="valor">Valor</label>
						<input class="form-control" type="text" ng-currency min="0.01" hard-cap="true" 
						ng-model="vinho.valor" onclick="this.setSelectionRange(0, this.value.length)" name="valor"
						ng-required="true"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9">
						<label for="tipo">Tipo</label>
						<select class="form-control" name="tipo" ng-model="vinho.tipo" ng-required="true"
						ng-options="tipo.descricao for tipo in tipos">
							<option value="">Selecione um tipo...</option>
						</select>
					</div>
					<div class="col-md-3">
						<label for="peso">Peso (kg)</label>
						<input type="number" step="0.100" class="form-control" name="peso" ng-model="vinho.peso"
						min="0.001" ng-required="true"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button ng-disabled="formCadastro.$invalid" class="btn btn-primary" 
							ng-click="salvarVinho(vinho)">Salvar</button>
						<button class="btn btn-default" ng-click="reset()">Novo</button>
						<button class="btn btn-danger" ng-disabled="!vinho.id" 
							ng-click="removerVinho(vinho)">Excluir</button>
					</div>
				</div>
			</form>
			<div class="row col-md-12">
				<div class="table-responsive">
					<table class="table table-striped" ng-show="vinhos.length > 0">
						<tr>
							<th>Código</th>
							<th>Descrição</th>
							<th>Tipo</th>
							<th>Peso (kg)</th>
							<th>Valor</th>
						</tr>
						<tr ng-repeat="vinho in vinhos">
							<td>{{::vinho.id}}</td>
							<td><a href="" ng-click="editar(vinho)">{{::vinho.descricao}}</a></td>
							<td>{{::vinho.tipo.descricao}}</td>
							<td>{{::vinho.peso | number:3}}</td>
							<td>{{::vinho.valor | currency}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>